@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    border-radius: 3px;
}
main{
    height: 100vh;
    position: relative;
    

}
body{
    background-image: url('../imagens/fundo-madeira.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section#telefone{
    height: 622px;
    width: 304px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-position: center;
}
iframe#tela{
    position: absolute;
    border-radius: 5px;
    top: 76.1px;
    left: 19.1px;
    width: 266.6px;
    height: 477px;
}
section#rede{
    text-align: center;
    padding-top: 91px;
}
section#rede img:hover{
    border: 2px solid rgba(102, 98, 98, 0.521);
    box-shadow: 5px 5px 10px black;
    transition-duration: 0.2s ;
    transform: translate(-3px, -3px);
}
section#rede img{
    transition-duration: 0.3ms;
    width: 50px;
    border-radius: 40px;
    margin: 8px;
    box-shadow: 2px 2px 2px black;
    box-sizing: border-box;

}

